---
layout: page
title: "About"
description: "Hey, this is Yuanshen Lin."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 英文 English </option>
    <option value="1"> 中文 Chinese </option>
</select>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Look on my works, ye Mighty, and despair!</p></blockquote>

    <p>Hi, I'm <strong>Yuanshen Lin</strong>, a senior undergraduate student in <strong>the Wu Wenjun Honors Program at the School of Mathematical Sciences, Shanghai Jiao Tong University</strong>, where I conduct research in computational mathematics advised by <strong>Prof. Zhenli Xu</strong>. My academic journey has been driven by a strong interest in <strong> computational mathematics, machine learning and its real-world applications</strong>.</p>
    
    <p>In my free time, I like to listen to music, which helps me stay focused and creative.</p>

    <p>Feel free to check out my work and get in touch!</p>

    <h5>Preprints</h5>

    <ul>
    <li><strong>Y. Lin</strong>, Z. Xu, Y. Zhang and Q. Zhou, <a href="https://arxiv.org/abs/2503.03183">Weighted balanced truncation method for approximating kernel functions by exponentials.</a></li>
    </ul>

    <h5>Software Packages</h5>

    <ul>
    <li><a href="https://github.com/linyuanshen114/VP-WBT">VP-WBT</a>, a kernel-independent SOE/SOG approximation software with VP-sum and WBT. </li>
    </ul>
</div>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>Look on my works, ye Mighty, and despair!</p></blockquote>

    <p>大家好，我是<strong>林元莘</strong>，目前就读于上海交通大学数学科学学院吴文俊班，已是一名大四本科生，并在<strong>徐振礼教授</strong>的指导下从事计算数学研究。我的研究兴趣主要围绕着<strong>计算数学、机器学习及其实际应用</strong>。</p>

    <p>在闲暇时，我喜欢听各种摇滚乐与看经典电影</p>

    <p></p>
    
    <h5>预印本</h5>

    <ul>
    <li><strong>Y. Lin</strong>, Z. Xu, Y. Zhang and Q. Zhou, <a href="https://arxiv.org/abs/2503.03183">Weighted balanced truncation method for approximating kernel functions by exponentials（基于加权平衡截断方法的核函数指数和逼近）.</a></li>
    </ul>

    <h5>软件包</h5>

    <ul>
        <li><a href="https://github.com/linyuanshen114/VP-WBT">VP-WBT</a>，一款基于VP和逼近与加权平衡截断方法的对于任意核函数进行SOE/SOG逼近的软件。</li>
    </ul>
</div>



<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $en = document.querySelector(".en");
    var $zh = document.querySelector(".zh");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 0;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 1;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#en"
        }else{
            window.location.hash = "#zh"
        }
    }

    if (!window.location.hash) {
        window.location.hash = "#en";
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

